<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dapeng.flow.workhour.dao.PathPlanDoMapper">
  <resultMap id="BaseResultMap" type="com.dapeng.flow.workhour.pojo.PathPlanDo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="wr_code" jdbcType="VARCHAR" property="wrCode" />
    <result column="plan_type" jdbcType="TINYINT" property="planType" />
    <result column="path_type" jdbcType="VARCHAR" property="pathType" />
    <result column="depart_place" jdbcType="VARCHAR" property="departPlace" />
    <result column="depart_longitude" jdbcType="VARCHAR" property="departLongitude" />
    <result column="depart_latitude" jdbcType="VARCHAR" property="departLatitude" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="destination_longitude" jdbcType="VARCHAR" property="destinationLongitude" />
    <result column="destination_latitude" jdbcType="VARCHAR" property="destinationLatitude" />
    <result column="distance" jdbcType="INTEGER" property="distance" />
    <result column="path_plan_time" jdbcType="INTEGER" property="pathPlanTime" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="loc_longitude" jdbcType="VARCHAR" property="locLongitude" />
    <result column="loc_latitude" jdbcType="VARCHAR" property="locLatitude" />
    <result column="offset_distance" jdbcType="INTEGER" property="offsetDistance" />
    <result column="path_real_time" jdbcType="INTEGER" property="pathRealTime" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_name" jdbcType="VARCHAR" property="updateName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, wr_code, plan_type, path_type, depart_place, depart_longitude, depart_latitude, 
    destination, destination_longitude, destination_latitude, distance, path_plan_time, 
    location, loc_longitude, loc_latitude, offset_distance, path_real_time, create_id, 
    create_name, create_time, update_id, update_name, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_path_plan
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_path_plan
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insertSelective" parameterType="com.dapeng.flow.workhour.pojo.PathPlanDo">
    insert into t_path_plan
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="wrCode != null">
        wr_code,
      </if>
      <if test="planType != null">
        plan_type,
      </if>
      <if test="pathType != null">
        path_type,
      </if>
      <if test="departPlace != null">
        depart_place,
      </if>
      <if test="departLongitude != null">
        depart_longitude,
      </if>
      <if test="departLatitude != null">
        depart_latitude,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="destinationLongitude != null">
        destination_longitude,
      </if>
      <if test="destinationLatitude != null">
        destination_latitude,
      </if>
      <if test="distance != null">
        distance,
      </if>
      <if test="pathPlanTime != null">
        path_plan_time,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="locLongitude != null">
        loc_longitude,
      </if>
      <if test="locLatitude != null">
        loc_latitude,
      </if>
      <if test="offsetDistance != null">
        offset_distance,
      </if>
      <if test="pathRealTime != null">
        path_real_time,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="wrCode != null">
        #{wrCode,jdbcType=VARCHAR},
      </if>
      <if test="planType != null">
        #{planType,jdbcType=TINYINT},
      </if>
      <if test="pathType != null">
        #{pathType,jdbcType=VARCHAR},
      </if>
      <if test="departPlace != null">
        #{departPlace,jdbcType=VARCHAR},
      </if>
      <if test="departLongitude != null">
        #{departLongitude,jdbcType=VARCHAR},
      </if>
      <if test="departLatitude != null">
        #{departLatitude,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="destinationLongitude != null">
        #{destinationLongitude,jdbcType=VARCHAR},
      </if>
      <if test="destinationLatitude != null">
        #{destinationLatitude,jdbcType=VARCHAR},
      </if>
      <if test="distance != null">
        #{distance,jdbcType=INTEGER},
      </if>
      <if test="pathPlanTime != null">
        #{pathPlanTime,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="locLongitude != null">
        #{locLongitude,jdbcType=VARCHAR},
      </if>
      <if test="locLatitude != null">
        #{locLatitude,jdbcType=VARCHAR},
      </if>
      <if test="offsetDistance != null">
        #{offsetDistance,jdbcType=INTEGER},
      </if>
      <if test="pathRealTime != null">
        #{pathRealTime,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dapeng.flow.workhour.pojo.PathPlanDo">
    update t_path_plan
    <set>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="locLongitude != null">
        loc_longitude = #{locLongitude,jdbcType=VARCHAR},
      </if>
      <if test="locLatitude != null">
        loc_latitude = #{locLatitude,jdbcType=VARCHAR},
      </if>
      <if test="offsetDistance != null">
        offset_distance = #{offsetDistance,jdbcType=INTEGER},
      </if>
      <if test="pathRealTime != null">
        path_real_time = #{pathRealTime,jdbcType=INTEGER},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateName != null">
        update_name = #{updateName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
   <select id="getOnePath" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    id, destination_longitude, destination_latitude, distance, path_plan_time
    from t_path_plan
    where wr_code = #{wrCode,jdbcType=VARCHAR} and plan_type=#{planType}
  </select>
</mapper>